<!-- Header -->
<nav id="header" class="navbar navbar-expand-md shadow-none z-index-3 py-3" style="background-color: #FEFEFE;">
  <div class="container">
    <a class="navbar-brand" href="/index.html">
      <img width="26.44" height="auto" src="/img/mark.svg">
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item px-1">
          <a href="/projects.html" class="nav-link text-lg text-decoration-none">
            Projects
          </a>
        </li>
        <li class="nav-item px-1">
          <a href="/guide.html" class="nav-link text-lg text-decoration-none">
            Guide
          </a>
        </li>
        <li class="nav-item px-1">
          <a href="/involving.html" class="nav-link text-lg text-decoration-none">
            Get involved
          </a>
        </li>
        <li class="nav-item px-1">
          <a href="/insiders.html" class="nav-link text-lg text-decoration-none">
            Insiders
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Header -->

<!-- Footer -->
<footer id="footer" class="footer py-5" style="background-color: #FEFEFE;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-2"><a class="link-dark" href="javascript:scroll(0,0)">Katorly Lab</a></h5>
        <p class="mb-4 me-5">
          Open source projects and samples from Katorly and other partners, aiming to share and improve
          experience.<br><br>
          "Katorly Lab", "Katorly Code Lab", "katorlys", and their logos and marks are owned by Katorly.
          View full Copyright Info <a class="link-secondary text-decoration-underline" target="_blank"
            href="/copyright.html">here</a>.
        </p>
        <a href="https://github.com/katorlys" target="_blank" class="text-secondary me-xl-2 me-2">
          <img src="/img/social/github.svg" width="22px" height="auto">
        </a>
        <a href="https://www.npmjs.com/~katorly" target="_blank" class="text-secondary me-xl-2 me-2">
          <img src="/img/social/npmjs.svg" width="26px" height="auto">
        </a>
        <a href="https://www.spigotmc.org/members/katorly.1301379/#resources" target="_blank"
          class="text-secondary me-xl-2 me-2">
          <img src="/img/social/spigotmc.svg" width="22px" height="auto">
        </a>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-4">
        <h6 class="text-sm">Pages</h6>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="/projects.html">
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="/guide.html">
              Guide
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="/involving.html">
              Get involved
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="/insiders.html">
              Insiders
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-4">
        <h6 class="text-sm">Resources</h6>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="/copyright.html" target="_blank">
              Copyright Info
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="https://github.com/katorlys/MediaKit"
              target="_blank">
              MediaKit
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary text-decoration-none" href="guestbook.html"
              target="_blank">
              Guest book
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="dark mt-lg-5 mt-4 mb-sm-4 mb-1">
    <div class="row">
      <div class="col-8 mx-lg-auto text-lg-center">
        <p class="text-sm text-dark">
          &copy; 2020-<span id="nowDate"></span>
          <a href="/index.html" class="link-dark text-decoration-none">
            Katorly Lab</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->