body {
    font-family: 'Kumbh Sans', sans-serif;
    background: #FAFAFA;
}
::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    background-color: #EBEBEB;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #CFCBD0;
}
::selection {
    background: #E0E0E0;
}
::-moz-selection {
    background: #E0E0E0;
}
.kl-bg {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}